#container {
  height: 100%;
  width: 60%;
  display: flex;
}

#add {
  font-family: ribesblack;
  width: 25%;
  color: #2f1d39;
  background-color: #8d788f;
  margin-right: 5%
}

#delete {
  font-family: ribesblack;
  width: 25%;
  color: #2f1d39;
  background-color: #8d788f;
  margin-left: 5%;
  margin-right: 5%
}

#update {
  font-family: ribesblack;
  width: 25%;
  color: #2f1d39;
  background-color: #8d788f;
  margin-left: 5%
}

#loader {
  margin-bottom:1%; font-family:ribesblack; font-size: 150%; color:#2f1d39;
}

.Horoscope-header {
  font-family: ribesblack, serif;
  font-size: calc(75px + 2vmin);
  color: rgb(168, 199, 143);
}

.body {
  background-color: #2f1d39;
}

#heading {
  font-family:ribesblack; font-size:400%; color:#9b472b; margin-top:2%
}

/*.title {*/
/*  font-family:ribesblack;*/
/*  font-size:400%;*/
/*  color:#df643a;*/
/*  margin-top:2%*/
/*}*/

@font-face {
  font-family: 'ribesblack';
  src: local('ribesblack'), url('./fonts/ribes-black-webfont.woff2') format('woff2'),
       url('./fonts/ribes-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

