p {
    color: #47746a;
    font-family: Poppins-regular;
    font-size: 15px;
    font-weight: bolder;

    background-color: #fff;
    fill-opacity: 1;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    margin: 30px auto;
}

.button {
    cursor: pointer
}