.MotivationalQuote h1 {
    color: black;
    font-family: Georgia;
    font-size: 20px;
    font-weight: lighter;

    background-color: #fff;
    fill-opacity: 1;
    border-radius: 25px;
    padding: 20px;
    width: 300px;
    margin: 30px auto;
}

.MotivationalQuote {
    text-align: center;
}