.RouteContainer {
  background-color: #fff;
}

.RouteContainer h2 {
  font-family: Geneva;
  font-size: 50px;
  transform: scale(1,.9);
  margin: 0px;
}

.RouteContainer label {
  font-family: Geneva;
  font-size: 16px;
  transform: scale(1,.9);
  font-weight: lighter;
}

.RouteContainer button {
  background-color: #47746a;
  border: none;
  color: #fff;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Geneva;
  font-size: 16px;
  font-weight: lighter;
  margin: 4px 2px;
  border-radius: 12px;
  transform: scale(1,.9);
}

.RouteContainer input {
  border: 2px solid #47746a;
  text-align: center;
  padding: 5px 12px;
  font-family: Geneva;
  font-size: 16px;
  font-weight: lighter;
  margin: 4px 2px;
  border-radius: 12px;
  transform: scale(1,.9);
  width: 125px;
}

.RouteContainer path {
  fill: #47746a;
}

